h2,h3,h4,h5 {
    color: black;
    font-family: 'Arial';
}
p{
color: black;
font-family:'Arial';
text-align: justify;
}

.contact-info{
font-style: 'italic';
color: black;
display: inline-block;
margin-left:1%;
vertical-align: top;
padding: 8px;   

}
 
