.contact-photo{
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin:10px;
}

p{
    color: black;
    font-family:'Arial';
    text-align: justify;
    vertical-align: middle;
}
    
.contact-info{
    font-style: 'italic';
    color: black;
    display: inline-block;
    margin-left:1%;
    vertical-align: top;
    padding: 8px;   
    
    }

.titulo{
    font-size:  30px;
    text-align: center;
    background-color: darkgrey;
    }

.formulario{
    background-color: whitesmoke;
    text-align: left;
}